/* Denna fil skall innehålla din CSS kod */
#wrapperhem {
    background-color: aliceblue;
    display: grid;
    grid-template-areas:
    "nv" 
    "s1"
    "s2"
    "s3"
    "s4"
    "ft"
    ;
    grid-template-rows: 10vh auto 50vh auto 50vh 20vh;
    grid-template-columns: 1fr;
    width: 100%;
    margin: auto;
    min-height: 100vh;
}
#wrapperpraliner {
    background-color: aliceblue;
}
#wrapperdesserter {
    background-color: aliceblue;
}
#wrapperpresentaskar {
    background-color: aliceblue;
}
#wrapperabonnera {
    background-color: aliceblue;
}
#wrapperprovningar {
    background-color: aliceblue;
}

nav {
    background-color: aliceblue;
    grid-area: nv;
    display: flex;
    justify-content: flex-end;
    height: 10vh;
}
nav ul {
    display: flex;
}
nav ul li {
    list-style: none;
    margin: 0 3rem 0 3rem;
}
nav ul li a {
    text-decoration: none;
    color: black;
}
header {
    background-color: aliceblue;
}
footer {
    background-color: aliceblue;
    grid-area: ft;
}
aside {
    background-color: aliceblue;
    grid-area: as;
}

#section1 {
    background-color: #996531;
    grid-area: s1;
}
#section2 {
    background-color: #ffffff;
    grid-area: s2;
    display: flex;
    justify-content: space-around;
}
#section2 article {
    background-color: #ffffff;

}
#section2 article img {
    width: 60vh;
    height: 40vh;
}
#section3 {
    background-color: #523518;
    grid-area: s3;
}
#section3 h2 {
    margin: auto;
    font-size: large;
}
#section4 {
    background-color: #E6DAA2;
    grid-area: s4;
}
#section5 {
    background-color: aliceblue;
    grid-area: s5;
}
#section6 {
    background-color: aliceblue;
    grid-area: s6;
}
#section7 {
    background-color: aliceblue;
    grid-area: s7;
}
#section8 {
    background-color: aliceblue;
    grid-area: s8;
}
#section9 {
    background-color: aliceblue;
    grid-area: s9;
}