#wrapperhem {
    background-color: aliceblue;
    display: grid;
    grid-template-areas:
    "nv" 
    "s1"
    "s2"
    "s3"
    "s4"
    "ft"
    ;
    grid-template-rows: 10vh auto 50vh auto auto 20vh;
    grid-template-columns: 1fr;
    width: 100%;
    margin: auto;
    min-height: 100vh;
}
#wrapperpraliner {
    background-color: aliceblue;
}
#wrapperdesserter {
    background-color: aliceblue;
}
#wrapperpresentaskar {
    background-color: aliceblue;
}
#wrapperabonnera {
    background-color: aliceblue;
}
#wrapperprovningar {
    background-color: aliceblue;
}


nav {
    background-color: aliceblue;
    grid-area: nv;
    display: flex;
    justify-content: flex-end;
    height: 10vh;
}
nav ul {
    display: flex;
}
nav ul li {
    list-style: none;
    margin: 0 3rem 0 3rem;
}
nav ul li a {
    text-decoration: none;
    color: black;
}

header {
    background-color: aliceblue;
}

footer {
    background-color: aliceblue;
    grid-area: ft;
}

aside {
    background-color: aliceblue;
    grid-area: as;
}


#section1 {
    background-color: #996531;
    grid-area: s1;
}

#section2 {
    background-color: #ffffff;
    grid-area: s2;
    display: flex;
    justify-content: space-around;
}
#section2 article {
    background-color: #ffffff;
    
}
#section2 article img {
    width: 33vw;
    height: 42vh; 
}
#section2 article p {
    padding-left: 10px;
}

#section3 {
    background-color: #3d250d;
    grid-area: s3;
    padding-inline: 10px
    
}
#section3 h2 {
    font-size: large;
    color: rgb(255, 255, 255);
}
#section3 p {
    color: rgb(255, 255, 255);
}

#section4 {
    background-color: #a2815d;
    grid-area: s4;
    padding-left: 10px;
}
#section4 img {
    width: 50%;
    display: flex;
    float: right;
}
#section4 h2 {
    font-size: large;
    width: 50%;
    margin: none;
}

#section5 {
    background-color: aliceblue;
    grid-area: s5;
}

#section6 {
    background-color: aliceblue;
    grid-area: s6;
}

#section7 {
    background-color: aliceblue;
    grid-area: s7;
}

#section8 {
    background-color: aliceblue;
    grid-area: s8;
}

#section9 {
    background-color: aliceblue;
    grid-area: s9;
}